<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>OA管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">	
	
	<style type="text/css">
		html{overflow-y:scroll;}  
		.span12 a{color:#808080}
		.nav-list span{color:#0088cc;}
		#date{line-height:25px;font-size:12px;color:gray;margin-top:-30px;}
		.divNav{border:1px solid #dedede;border-radius:5px;box-shadow:2px 2px 5px #dedede;text-align:center;width:18%;display:inline-block;float:left;margin-right:1.5%;padding-top:20px;padding-bottom:20px;margin-bottom:15px;font:16px "Microsoft YaHei";}
		.divNav img{height:60px;}
	</style>
</head>

<body onload="showdate();">	
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">				
				<a class="brand" href="javascript:void(0);" onclick="iframe('welcome')">OA管理系统</a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li class="dropdown">
							<a href="javascript:void(0);" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-user icon-white"></i>&nbsp;{{current_user.real_name}}<b class="caret"></b>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
								<li><a href="javascript:void(0);" onclick="$('#content').hide();$('#content_frame').show();">修改密码</a></li>
								<li class="divider"></li>
								<li><a href="logout">注销</a></li>
							</ul>
						</li>
					</ul>
					<!-- <ul class="nav" id="topmenu">
						{%- for obj in privileges %}
							{%- if obj.privilege_access_value == "bxgl" and obj.privilege_operation != "0" %}
								<li><a href="xxgl">报销管理</a></li>
							{%- endif %}
							{%- if obj.privilege_access_value == "xtgl" and obj.privilege_operation != "0" %}
							<li><a href="xtgl">系统管理</a></li>
							{%- endif %}
						{%- endfor %}
						<li><a href="Wdgl">文档管理</a></li>
						<li><a href="Xmgl">项目管理</a></li>
						<li><a href="Tjbb">统计报表</a></li>
					</ul> -->
				</div><!--/.nav-collapse -->
			</div><!--/.container-fluid -->
		</div><!--/.navbar-inner -->		
	</div><!--/.navbar -->
	<!-- <div style="height:290px;overflow:hidden;">
		<img src="/static/img/welcome2.png" style="margin-top:-10px;"/>
	</div> -->
	
	<div class="container-fluid" style="margin:60px auto 50px;" >
		<div class="row-fluid" style="*margin-top:60px;">
			<div class="span3">
				
				<div class="well sidebar-nav" id="leftmenu">				
					<ul class="nav nav-list">
						<li class="nav-header">用户信息</li>
						<li>
							<span>用户名：{{current_user.login_name}}</span>
						</li>
						<li>
							<span>真实姓名：{{current_user.real_name}}</span>
						</li> 
						
						<li>
							{%- if current_user.sex == '1' %}
								<span>性别：男</span>
							{%- else %}
								<span>性别：女</span>
							{%- endif %}  
						</li>     
					</ul>
				</div><!--/.well -->						
			</div><!--/span-->
<!--**************************************************content***********************************************-->
			<div class="span9 pull-right">				
				<div id="content">
					<div class="well place">			
						<i class="icon-home"></i><a href="#">首页</a>
					</div>
					{%- with messages = get_flashed_messages(with_categories=true) %}
					  	{%- if messages %}
				    	{%- for category, message in messages %}
				    	<div class="alert alert-{{category}}">
				      		{{message}}
				      	</div>
				    	{%- endfor %}
					  	{%- endif %}
					{%- endwith %}		
					<div class="row-fluid">
						<div class="span12">
						{%- for obj in privileges %}
							{%- if obj.privilege_access_value == "bxgl" and obj.privilege_operation != "0" %}
							<a href="xxgl">
								<div class="divNav">
									<img src="/static/img/0_hover.png"/><br/>
									报销管理
								</div>
							</a>
							{%- endif %}
							{%- if obj.privilege_access_value == "xtgl" and obj.privilege_operation != "0" %}
							<a href="xtgl">
								<div class="divNav">
									<img src="/static/img/1_hover.png"/><br/>
									系统管理
								</div>
							</a>
							{%- endif %}
							{%- if obj.privilege_access_value == "Tjbb" and obj.privilege_operation != "0" %}
							<a href="Tjbb">
								<div class="divNav">
									<img src="/static/img/4_hover.png"/><br/>
									统计报表
								</div>
							</a>
							{%- endif %}
							{%- if obj.privilege_access_value == "Wdgl" and obj.privilege_operation != "0" %}
							<a href="Wdgl">
								<div class="divNav">
									<img src="/static/img/2_hover.png"/><br/>
									文档管理
								</div>
							</a>
							{%- endif %}
							{%- if obj.privilege_access_value == "xmgl" and obj.privilege_operation != "0" %}
							<a href="xmgl">
								<div class="divNav">
									<img src="/static/img/3_hover.png"/><br/>
									项目管理
								</div>
							</a>
							{%- endif %}
						{%- endfor %}
							
							
						</div>
						<i class="icon-bookmark"></i><span class="titletip">待办事项</span>
						<div class="divBorder">
							<table class="table-list">
								<thead>
									<tr>
										<th>待办事项项目</th>
										<th>项目数</th>
									</tr>
								</thead>
								<tbody class="center">
									<tr>
										<td>您待审批的报销</td>
										<td>{{count_1}}</td>
									</tr>
									{%- for obj in privileges %}
										{%- if obj.privilege_access_value == "fysp" and obj.privilege_operation != "0" %}
										<tr>
											<td>等待您审批的报销</td>
												{%- if count_2==0 %}
													<td>{{count_2}}</td>
												{%- else%}
													<td><a href="dsp">{{count_2}}</a></td>
												{%- endif %}
										</tr>		
										{%- endif %}
									{%- endfor %}					
								</tbody>
							</table>
						</div>
					</div><!--/row-fluid -->
					{%- for obj in privileges %}
						{%- if obj.privilege_access_value == "fytj" and obj.privilege_operation != "0" %}
					<div class="row-fluid" >
						<i class="icon-bookmark"></i><span class="titletip">统计</span>
						<div class="divBorder" style="overflow:auto; height:100px;">
							<table class="table-list">
								<thead>
									<tr>
										<th>负责部门或项目</th>
										<th>当前申请总额</th>
										<th>当前付款总额</th>
										<th>本月付款金额</th>
										<th>本季度付款金额</th>
									</tr>
								</thead>
								<tbody class="center">
									{%- for obj in result %}
									<tr>
										<td>{{obj.name}}</td>
										<td>{{obj.total_apply}}</td>
										<td>{{obj.total_paid}}</td>
										<td>{{obj.monthly}}</td>
										<td>{{obj.season}}</td>
									</tr>	
									{%- endfor %}						
								</tbody>
							</table>
						</div>
					</div><!--/row-fluid -->
						{%- endif %}
					{%- endfor %}	
				</div><!--/content -->
				<iframe frameborder="0" width="100%" height="100%" id="content_frame" src="change_password/{{current_user.id}}" style="display:none;"></iframe>
			</div><!--/span-->
		</div><!--/row-->		
    </div><!--/.fluid-container-->		
<!--**************************************************foot***********************************************-->
	<div class="footer">
		<p class="pull-center">@ 2013 CardPay (Shanghai) Info Tech Co.,Ltd</p>
		<span id="date" class="pull-right"></span>
	</div>	
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script type="text/javascript">
	
    </script>
</body>
</html>
