<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>OA管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../static/css/bootstrap.css" rel="stylesheet">
	<link href="../../static/css/main.css" rel="stylesheet">
	<link href="../../static/css/datepicker.css" rel="stylesheet">
		
</head>

<body onload="datepicker();">	
	<form class="content" method="POST" action="/grcx/grcx_list/1/pc">
		<div class="well place">
			<i class="icon-home"></i><a href="#">报销管理</a>/<a href="#">个人查询</a>
		</div>	
		{%- with messages = get_flashed_messages(with_categories=true) %}
		  	{%- if messages %}
	    	{%- for category, message in messages %}
	    	<div class="alert alert-{{category}}">
	      		{{message}}
	      	</div>
	    	{%- endfor %}
		  	{%- endif %}
		{%- endwith %}
		<div class="row-fluid">
			<i class="icon-bookmark"></i><span class="titletip">付款搜索</span>
			<div>
				<div style="border:1px solid #94c1dc;">
					<table class="table-list">
						<tr>
							<td class="table-label">费用开始时间</td>
							<td><input type="text" class="datepicker" name="beg_date" data-date-format="yyyy-mm-dd" readonly/></td>
							<td class="table-label">费用结束时间</td>
							<td><input type="text" class="datepicker" name="end_date" data-date-format="yyyy-mm-dd" readonly/></td>
						</tr>
						<tr>
							<td class="table-label">是否已付款</td>
							<td>
								<select name="is_paid">
									<option value="-1">全部</option>
									<option value="1">是</option>
									<option value="0">否</option>
								</select>
							</td>
						</tr>
					</table>
				</div>
				<input type="submit" class="btn btn-info" value="搜索"/>										
			</div><!--/搜索-->
		</div><!--/row-fluid -->
	</form><!--/content -->
	
	<script src="../../static/js/jquery-1.7.2.min.js"></script>
	<script src="../../static/js/bootstrap.min.js"></script>
	<script src="../../static/js/script.js"></script>
	<script src="../../static/js/bootstrap-datepicker.js"></script>
</body>
</html>
