<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>OA管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../static/css/bootstrap.css" rel="stylesheet">
	<link href="../../static/css/main.css" rel="stylesheet">
	<link href="../../static/css/datepicker.css" rel="stylesheet">
		
</head>

<body onload="datepicker();">	
	<form class="content" method="POST" action="/fybx/check_query/1/pc">
		<div class="well place">			
			<i class="icon-home"></i><a href="#">报销管理</a>/<a href="#">付款审核</a>
		</div>		
		{%- with messages = get_flashed_messages(with_categories=true) %}
		  	{%- if messages %}
	    	{%- for category, message in messages %}
	    	<div class="alert alert-{{category}}" style="width:245px;margin:-10px auto 10px;">
	      		{{message}}
	      	</div>
	    	{%- endfor %}
		  	{%- endif %}
		{%- endwith %}
		<div class="row-fluid">
			<i class="icon-bookmark"></i><span class="titletip">付款搜索</span>
			<div>
				<div style="border:1px solid #94c1dc;">
					<table class="table-list">
						<tr>
							<td class="table-label">费用开始时间</td>
							<td><input type="text" class="datepicker" name="beg_date" value="{{beg_date}}"data-date-format="yyyy-mm-dd" readonly/></td>
							<td class="table-label">费用结束时间</td>
							<td><input type="text" class="datepicker" name="end_date" data-date-format="yyyy-mm-dd" readonly/></td>
						</tr>
						
						<tr>
							{%- if level!=2 and level!=3 and level!=4%}
							<td class="table-label">所属公司</td>
							<td>
								<select name="org_id" style="width:260px;">
									<option value="-1">全部</option>
									<option value="2">乾康（上海）信息技术有限公司</option>
									<option value="3">乾康（上海）金融信息服务有限公司</option>
									<option value="5">云金天下</option>
								</select>
							</td>
							{%- endif %}
							<td class="table-label">员工</th>
							<td>
								<input type="hidden" id="yunying_manager1" name="person"/>
								<input type="text" id="yunying_manager_name1" readonly/>
								<input type="button" value="搜索" class="btn" onclick="$('#yunying_xdyss1').show();"/>
								<span id="pgrA">
									<input type="hidden" id="yz_yunying1" value=""/>
								</span>							
								<div class="display-div" id="yunying_xdyss1" style="margin-top:0px;">
									<i class="icon-bookmark"></i><span class="titletip">员工搜索</span>
									<div style="border:1px solid #94c1dc;">
										<table class="table-list">
											<tr>	
												<td class="table-label">员工名称</td>
												<td><input type="text" onchange="search(this)"/></td>	
											</tr>
										</table>
									</div>																		
									<input type="button" value="关闭" class="btn btn-info btn-mini pull-right" onclick="$('.display-div').hide();"/>
									<input type="button" value="搜索" class="btn btn-info btn-mini pull-right"/><br/>
									<i class="icon-bookmark"></i><span class="titletip">员工列表</span>
									<div style="border:1px solid #94c1dc;">
										<table class="table-list">
											<thead>
												<tr>
													<th>选择</th>	
													<th>员工编号</th>												
													<th>员工名称</th>												
												</tr>
											</thead>
											<tbody class="center">	
											{%- for obj in user %}										
												<tr>
													{%- if obj.id!=1%}
														<td><input type="radio" name="xdy" onclick="get_name(this,'yunying_manager_name1','yunying_manager1');" onblur="hiddenInput('yz_yunying1',this)"/></td>	
														<td>{{obj.id}}</td>										
														<td name="search">{{obj.real_name}}</td>
													{%-endif %}							
												</tr>	
											{%- endfor %}							
											</tbody>
										</table>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<input type="submit" class="btn btn-info" value="搜索"/>										
			</div><!--/搜索-->
		</div><!--/row-fluid -->
	</form><!--/content -->
	
	<script src="../../static/js/jquery-1.7.2.min.js"></script>
	<script src="../../static/js/bootstrap.min.js"></script>
	<script src="../../static/js/script.js"></script>
	<script src="../../static/js/bootstrap-datepicker.js"></script>
</body>
</html>
