<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>OA管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">		
	<!-- ************************验证样式************************-->
	<script src="/static/SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
	<link href="/static/SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css">
	<SCRIPT type="text/javascript">
		function config(){
			$('#userForm').show();
		}
		function add(){
			var liulan =document.getElementsByName("liulan");
			var download =document.getElementsByName("download");
			var liulanValue="";
			var downValue="";
			for(var i = 0; i < liulan.length; i ++){
				if(liulan[i].checked){
					liulanValue=liulanValue+liulan[i].value+"."
				}
			 }
			 if(liulanValue==""){
			 	liulanValue=0
			 }else{
			 	liulanValue=liulanValue.substring(0,liulanValue.length-1)
			 }
			 for(var i = 0; i < download.length; i ++){
				if(download[i].checked){
					downValue=downValue+download[i].value+"."
				}
			 }
			 if(downValue==""){
			 	downValue=0
			 }else{
			 	downValue=downValue.substring(0,downValue.length-1)
			 }
			 $('#liulanValue').val(liulanValue);
			 $('#downValue').val(downValue);
			 $('#userForm').hide();
		}
	</script>
</head>

<body>	
	<div class="content">
		<div class="well place">			
			<i class="icon-home"></i><a href="#">文档管理</a>/<a href="#">文档管理</a>
		</div>		
		<div class="row-fluid">
			<i class="icon-bookmark"></i><span class="titletip">部门信息</span>			
			<form method="POST"	action="/wdgl/update_git_doc/{{doc.id}}">	
				<input type="hidden" name="liulanValue" id="liulanValue" value="">
				<input type="hidden" name="downValue" id="downValue" value="">
				<div style="border:1px solid #94c1dc;">				
					<table class="table-list">								
						<tr>
							<td class="table-label">文件名称<font class="red">*</font></td>
							<td colspan="3">
								<span id="name">	
									<input type="text" name="name" onchange="spryMaxLength(this,32)" value="{{doc.name}}" readonly="true"/>
								</span>
							</td>										
						</tr>	
						<tr>
							<td class="table-label">用户权限</td>
							<td><a type="button" class="btn btn-info"  onclick="config()">设置</a></td>
						</tr>																																			
					</table>
				</div>
				<span class="point">*为必填字段</span><br/>
				<input type="submit" value="提交" class="btn btn-info" onclick=""/>
				<div class="display-div" id="userForm" style="margin-top:-150px;">
				<i class="icon-bookmark"></i><span class="titletip">用户列表</span>
				<div style="border:1px solid #94c1dc;">
					<form action="/">
					<table class="table-list">
						<thead>
							<tr>
								<th>用户编号</th>												
								<th>用户名称</th>	
								<th>浏览</th>	
								<th>下载</th>										
							</tr>
						</thead>
						<tbody class="center" id="userId">		
								{%- for obj in data %}										
							<tr>
								<td>{{obj.id}}</td>										
								<td>{{obj.real_name}}</td>
								{%- if obj.privilege_master_id!=''%}
									{%- if obj.privilege_operation=='1'%}
										<td><input type="checkBox" name="liulan" id="liulan" value="{{obj.id}}" checked="checked"/></td>
										<td><input type="checkBox" name="download" id="download" value="{{obj.id}}"/></td>	
									{%-elif obj.privilege_operation=='2'%}
										<td><input type="checkBox" name="liulan" id="liulan" value="{{obj.id}}" checked="checked"/></td>
										<td><input type="checkBox" name="download" id="download" value="{{obj.id}}" checked="checked"/></td>
									{%-else%}
										<td><input type="checkBox" name="liulan" id="liulan" value="{{obj.id}}" /></td>
										<td><input type="checkBox" name="download" id="download" value="{{obj.id}}"/></td>
									{%-endif%}
								{%-else%}
									<td><input type="checkBox" name="liulan" id="liulan" value="{{obj.id}}" /></td>
									<td><input type="checkBox" name="download" id="download" value="{{obj.id}}"/></td>
								{%-endif%}						
							</tr>
						{%- endfor %}			
						</tbody>
					</table>
					</form>
				</div>
				<a type="button" class="btn btn-info"  onclick="add()">确定</a>
			</div>	
			</form>
			
		</div><!--/row-fluid -->
	</div><!--/content -->

	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/system.js"></script>
	<script type="text/javascript">
		var sprytextfield1 = new Spry.Widget.ValidationTextField("name", "none");
	</script>
</body>
</html>
