<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>OA管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../static/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/zTreeStyle/zTreeStyle.css" type="text/css">
	<link href="../../static/css/main.css" rel="stylesheet">
	<link href="../../static/css/datepicker.css" rel="stylesheet">
	<!-- ************************验证样式************************-->
	<script src="../../static/SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
	<link href="../../static/SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css">
	<script src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.ztree.core-3.5.js"></script>
	<script src="../../static/js/bootstrap.min.js"></script>
	<script src="../../static/js/script.js"></script>
	<script src="../../static/js/bootstrap-datepicker.js"></script>
	<style type="text/css">
		.table-list .table-label{width:140px;}
		input.btn-mini{width:20px;margin:0;}
	</style>
	<SCRIPT type="text/javascript">
		<!--
		//树节点单击回调
		var pId = 0;
		function zTreeOnClick(event, treeId, treeNode) {
			pId = treeNode.id;
			//动态修改项目树
			setting1.async.url = "/System/tree/OA_Project/"+pId;
			$.fn.zTree.init($("#tree1"), setting1);
		};

		var setting = {
			data: {
				simpleData: {
					enable: true
				}
			},
			async: {
				enable: true,
				url:"/System/tree/OA_Org/0"
			},
			callback: {
				onClick: zTreeOnClick
			}
		};		
		$(document).ready(function(){						
			$.fn.zTree.init($("#tree"), setting);		
					 	
		});
		//-->
	</SCRIPT>
	
	<SCRIPT type="text/javascript">
		//树节点单击回调
		function zTreeOnClick1(event, treeId, treeNode) {
			//点击项目树获取归属项目id
			$("#project_id").val(treeNode.id);
			$("#org_id").val(pId);
			$("#belong_name").val(treeNode.project_name);
			$("#yzA").val(treeNode.project_name);
			$('#A_xdyss').hide();
		};
		var setting1 = {
			data: {
				simpleData: {
					enable: true,
					pIdKey: "p_project_id",
				},
				key: {
					name: "project_name"
				}
			},
			async: {
				enable: true
				//url:"/System/tree/OA_Org/0"
			},
			callback: {
				onClick: zTreeOnClick1
			}
		};	
		$(document).ready(function(){						
			$.fn.zTree.init($("#tree1"), setting1);		
					 	
		});
		//-->
	</SCRIPT>	
</head>

<body onload="datepicker();setTimeOut();">
	<form name="form" class="content" method="POST" action="/xzfy/new_xzfy">
		<div class="well place">			
			<i class="icon-home"></i><a href="#">报销申请</a>/<a href="#">新增费用</a>
		</div>	
		{%- with messages = get_flashed_messages(with_categories=true) %}
		  	{%- if messages %}
	    	{%- for category, message in messages %}
	    	<div class="alert alert-{{category}}">
	      		{{message}}
	      	</div>
	    	{%- endfor %}
		  	{%- endif %}
		{%- endwith %}
		<div class="divBorder">		
			<table class="table-list">
				<tr>
					<td class="table-label">费用所属<font class="red">*</font></td>
					<td colspan="3">
						<input type="hidden" id="project_id" name="project_id"/>
						<input type="hidden" id="org_id" name="org_id"/>
						<input type="text" id="belong_name" readonly/>
						<input type="button" value="选择" class="btn" onclick="$('#A_xdyss').show();"/>
						<span id="A_manager_name_spay">
							<input type="hidden" id="yzA" />
							<span class="textfieldRequiredMsg">不能为空</span>
						</span>							
						<div class="display-div" id="A_xdyss" style="height:310px">																
							<input type="button" value="关闭" class="btn btn-info btn-mini pull-right" onclick="$('.display-div').hide();" style="width:40px;"/><br/>							
							<div style="width:47%;float:left;margin-top:8px;">
								<i class="icon-bookmark"></i><span class="titletip">第一步.选择机构</span>
								<div style="border:1px solid #94c1dc;height:250px;overflow:auto;">
									<ul id="tree" class="ztree"></ul>	
								</div>
							</div>
							<div style="width:47%;float:right;margin-left:15px;">
								<i class="icon-bookmark"></i><span class="titletip">第二步.选择项目</span>
								<div style="border:1px solid #94c1dc;height:250px;overflow:auto;">
									<ul id="tree1" class="ztree"></ul>	
								</div>
							</div>
						</div>
					</td>								
				</tr>
				<tr>						
					<td class="table-label">开始时间</td>
					<td>
						<input type="text" class="datepicker" name="start_date" data-date-format="yyyy-mm-dd" readonly/>
					</td>	
					<td class="table-label">结束时间</td>
					<td>
						<input type="text" class="datepicker" name="end_date" data-date-format="yyyy-mm-dd" readonly/>
					</td>					
				</tr>
			</table>					
		</div>
		<!--**********************费用信息***********************-->
		<i class="icon-bookmark"></i><span class="titletip">费用信息</span>
		<input type="button" value="+" onclick="addTd('table2','content_frame')" class="btn btn-info btn-mini"/>
		<input type="button" value="-" onclick="removeTd('table2','content_frame');sub()" class="btn btn-info btn-mini"/>
		<div class="divBorder">		
			<table class="table-list" id="table2">
				<tr>	
					<td class="table-label">金额<font class="red">*</font></td>
					<td width="180px">
						<span id="amount">
							<input type="text" name="amount" onKeyUp="checkNUM(this)" style="width:80px" onblur="sub()"/>元
							<span class="textfieldRequiredMsg">不能为空</span>
						</span>						
					</td>
					<td class="table-label">报销事由</td>
					<td width="180px">
						<select name="reason" style="width:110px">
							{%- for obj in reasons %}
								<option value="{{obj.id}}">{{obj.reason_name}}</option>
							{%- endfor %}
						</select>
					</td>
					<td class="table-label">描述</td>					
					<td>
						<textarea name="describe" class="tbInput"></textarea>						
					</td>
				</tr>
			</table>					
		</div>
		<font style="font-weight:bold;font-size:16px;color:gray;font-family:微软雅黑">总金额：<span style="color:red;"><span id="zje">0</span>元</span></font><br/>
		<span class="point">*为必填字段</span><br/>
		<input type="submit" value="提交" class="btn btn-info" />
		<input type="reset" value="重置" class="btn btn-info" />
	</form>	

	<script type="text/javascript">		
		var sprytextfield1 = new Spry.Widget.ValidationTextField("amount", "none");		
		var sprytextfield2 = new Spry.Widget.ValidationTextField("A_manager_name_spay", "none");
		//表格删除行
		function addTd(table,frameid){	
			if(table=="table2"){//是否申请过贷款
				$("#"+table).append("<tr>" + 
										"<td class='table-label'>金额<font class='red'>*</font></td>" + 
										"<td>" + 
											"<span id='amount'>" + 
												"<input type='text' name='amount' onKeyUp='checkNUM(this)' style='width:80px' onblur='sub()'/>元" + 
												"<span class='textfieldRequiredMsg'>不能为空</span>" + 
											"</span>" + 						
										"</td>" + 
										"<td class='table-label'>报销事由</td>" + 
										"<td>" + 
											"<select name='reason' style='width:110px'>" + 
												"{%- for obj in reasons %}" + 
													"<option value='{{obj.id}}'>{{obj.reason_name}}</option>" + 
												"{%- endfor %}" + 
											"</select>" + 
										"</td>" + 
										"<td class='table-label'>描述</td>	" + 				
										"<td>" + 
											"<textarea name='describe' class='tbInput'></textarea>" + 						
										"</td>" + 
									"</tr>");      
			}
			//doubleIframe(frameid);
		}
		//表格删除行
		function removeTd(table,frameid){ 
			var tr= document.getElementById(table).getElementsByTagName("tr");
			if(tr.length>1){//至少要保留一行
				document.getElementById(table).deleteRow(tr.length-1);//删除最后一行
			}
			//doubleIframe(frameid);
		}
		//计算总金额
		function sub(){
			var sum=0;					
			$.each($("input[name=amount"),function(key,val){ 
				if(val.value!="")
					sum += parseFloat(val.value);					
			}); 
			$("#zje").html(sum)
		}
		//验证金额
		function checkNUM(obj){
			obj.value=obj.value.replace(/[^\d\.]/g,'')
		}
	</script>
</body>
</html>
