<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<script type="text/javascript" src="/static/ofc2/json2.js"></script>
	<script type="text/javascript" src="/static/ofc2/swfobject.js"></script>
</head>
<body>
	<div class="content" style="border:none;">	
		<div class="well place">			
			<i class="icon-home"></i><a href="#">统计报表</a>/<a href="#">部门费用开支(季)</a>
		</div>	
		<div id="my_chart"></div>
	</div>
</body>
<script type="text/javascript">
	swfobject.embedSWF("/static/ofc2/open-flash-chart.swf", "my_chart",
	  "100%", "450", "9.0.0", "expressInstall.swf",
	  {"get-data":"getDemoData"});
	function getDemoData(){
		var barData={
		"bg_colour": "#ffffff", 
		"elements": [
			{
				"alpha": 0.5,
				"animate":[{"type":"bounce","distance":5},{"type":"fade"}],
				"border": 2, 
				"colours": [
					"#0247fe", 
					"#3d01a4", 
					"#8601af", 
					"#a7194b", 
					"#fe2712", 
					"#fd5308", 
					"#fb9902", 
					"#fabc02", 
					"#fefe33", 
					"#d0ea2b", 
					"#66b032", 
					"#0392ce"
				], 
				"label-colour": "#432baf", 
				"start-angle": 0, 
				"tip": "#val#元，总费用#total#元<br>占总费用的#percent#", 
				"type": "pie", 
				"values": [
					{
						"label": "差旅费", 
						"value": 1
					}, 
					{
						"label": "交通费", 
						"value": 2
					}, 
					{
						"label": "办公用品", 
						"value": 3
					}, 
					{
						"label": "招待费", 
						"value": 4
					}, 
					{
						"label": "技术服务法", 
						"value": 5
					}, 
					{
						"label": "水电煤气费", 
						"value": 6
					}, 
					{
						"label": "物业费", 
						"value": 7
					}, 
					{
						"label": "房屋组金", 
						"value": 8
					}, 
					{
						"label": "日用品", 
						"value": 9
					}, 
					{
						"label": "通讯费", 
						"value": 10
					}
				]
			}
		], 
		"title": {
			"style": "{color: #888888; font-size: 16; text-align: center}", 
			"text": "技术部—第一季度（费用开支情况）"
		}
	};
	   return JSON.stringify(barData);
	}

</script>
</html>