<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>OA管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../static/css/bootstrap.css" rel="stylesheet">
	<link href="../../static/css/main.css" rel="stylesheet">
	<link href="../../static/css/datepicker.css" rel="stylesheet">
		
</head>

<body onload="datepicker();">	
	<div class="content">
		<div class="row-fluid">
			<i class="icon-bookmark"></i><span class="titletip">项目搜索</span>
			<form>
				<div style="border:1px solid #94c1dc;">
					<table class="table-list">
						<tr>							
							<td class="table-label">所属部门</td>
							<td>
								<select name="org_id" id="org_id">
									{%- for obj in data%}
										<option value="{{obj.id}}">{{obj.name}}</option>
									{%- endfor%}
								</select>
							</td>
						</tr>
						<tr>	
							<td class="table-label">项目名称</td>
							<td><input type="text" name="task_name" id="task_name"/></td>
						</tr>							
					</table>
				</div>
				<input type="button" class="btn btn-info" value="搜索" onclick="search()"/>									
			</form><!--/搜索-->
		</div><!--/row-fluid -->
	</div><!--/content -->
	
	<script src="../../static/js/jquery-1.7.2.min.js"></script>
	<script src="../../static/js/bootstrap.min.js"></script>
	<script src="../../static/js/script.js"></script>
	<script src="../../static/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript">
		function search(){
			org_id = $("#org_id").val();
			task_name = $("#task_name").val();
			if(task_name==''){
				task_name = "-1"
			}
			var oDoc = window.parent.document;
			$('#text',oDoc).hide();
			var oAnotherFrame = oDoc.getElementById("content_frame");
            var form = oAnotherFrame.contentWindow.document.getElementById("glxm");
            form.action="/xmgl/glxm_result/"+org_id+"/"+task_name;
            form.submit(); 
		}

	</script>
</body>
</html>
